<% provide(:title, 'All parks') %>
  
<div class="content container"> 
  <div class="main-block row">
    <div class="park-block col-md-4">   
      <h3 id="parks-title">All parks</h3>
      <ul class="parks"> 
        <%= render @parks %>
      </ul>
      <%= will_paginate %>
    </div>
    <div class="map-block">
      This will contain the map
    </div>
    <div class="image-block col-md-12">
      <% if Image.any? %>
        <h3>Images (<%= Image.count %>)</h3>
        <ol class="reviews row image-stream">
          <%= render @images %>
        </ol>
        <%= will_paginate @images %>
      <% end %>
    </div>
  </div>
</div>