<li class="col-md-4 park-image" id="image-<%= image.id %>">
  <span class="user"><%= link_to image.park.name, image.park %></span>
  <span class="content">
    <%= image_tag(image.image_file.url, class: "img-thumbnail") %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(image.created_at) %> ago 
    by <%= link_to image.user.name, image.user %>.
    <% if logged_in? && current_user?(image.user) %>
      <%= link_to "delete", image, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>